<!-- Image and text -->
<nav class="navbar navbar-light bg-gray justify-content-between">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/imgs/currency.png" width="30" height="30" class="d-inline-block align-top" alt="">
          </a>
          <div class="container-btns">
            <button class="btn btn-outline-primary my-2 my-sm-0" (click)="currencyDetails('USD','EUR',1)" >EURO - USD Details</button>
            <button class="btn btn-outline-primary my-2 my-sm-0" (click)="currencyDetails('GBP','EUR',1)">EURO - GBP Details</button>
          </div>

    </div>
  </nav>