

form {
    border: 2px solid white;
    padding: 24px;
    img {
        max-width: 50px;
        margin: 15px 0;
    }
    .convert-btn {
        width: 100%;
        font-size: 1.25rem;
        letter-spacing: 1px;
    }
    .show-details {
        border: 1px solid black;
        padding: 10px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .switch-btn {
        background: none;
        border: none;
    }
}

.sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    padding: 10px;
}
